EXPO_PUBLIC_SUPABASE_URL=https://cefplgeamddmvshxbpbw.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNlZnBsZ2VhbWRkbXZzaHhicGJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA5MDk2MDIsImV4cCI6MjA4NjQ4NTYwMn0.d-upVDqBbITGg0y6UVArnXp1I62LaZ2UIM2iXQaAiwc
EXPO_PUBLIC_ONESIGNAL_APP_ID=9844ae56-b44c-4f87-95d7-ea2e73dad8d7
ONESIGNAL_APP_ID=9844ae56-b44c-4f87-95d7-ea2e73dad8d7